<div class="product">
  <div class="product-header">
    <h3>{{this.product.name}}</h3>
    <span>${{this.product.price}}</span>
  </div>
  <form method="POST" {{action "addItem" this.product  on="submit"}}>
    {{input type="number" value=(mut this.quantity) min="1"}}
    <button type="submit">Add to basket</button>
  </form>
</div>