html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
a,
a:link,
a:visited{
  color: yellowgreen;
}
a:hover,
a:active {
  color: olive;
}
.products {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
}
.product form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.basket li, .basket div {
 display: flex;
 justify-content: space-between;
 margin: 10px 0;
 padding: 10px;
}
.basket div {
  border-top: 1px solid #666;
}
.basket .name{
  display: inline-block;
  width: 200px;
  padding: 0;
  margin: 0;
}
button {
  padding: 10px 20px;
  background-color: yellowgreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  font-weight: bold;
  outline: none;
}
input[type=number] {
  width: 50px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
  align-self: stretch;
  outline: none;
  margin-right: 10px;
}