{{#link-to "products"}}&laquo; products{{/link-to}}
<div class="basket">
  <h3>Basket</h3>
  <ul>
    {{#each this.basket.items as |item|}}
      <li>
        <span class="name">{{item.name}}</span>
        <button {{action "removeItem" item}}>Remove</button>
        <span>quantity: {{item.quantity}}</span>
        <span>price: ${{item.price}}</span>
      </li>
    {{/each}}
  </ul>
  {{#if this.basket.totalDiscount}}
    Discounts:
    <ul>
      {{#each this.basket.discounts as |discount|}}
        {{#if discount.value}}
          <li><span>{{discount.name}}</span> <span>-${{discount.value}}</span></li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
  <div><span>Total:</span> <span>${{this.basket.totalPrice}}</span></div>
</div>