{{#link-to "checkout" class="top-link"}}Basket: {{this.basket.itemsCount}} Items{{/link-to}}
<div class="products">
  {{#each this.model as |productUnit|}}
    <Product @product={{productUnit}} />
  {{/each}}
</div>